<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-3 tittle">Iniciar sesión</h1>
            <form (submit)="login()" #f="ngForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user.email" name="email" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user.password" name="password" required>
                </div>
                <div class="message failed text-center mb-3" *ngIf="wrongData == true">
                    Usuario o contraseña incorrectos
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
