<div class="row mb-2">
  <div class="col-md-12">
    <nav class="navbar navbar-light bg-light">
      <ul class="navbar-nav">
        <li class="nav-item active d-inline">
          <a class="nav-link" [routerLink]="['/cloudData/', path]"
            >Guardar y salir <i class="fas fa-save"></i
          ></a>
        </li>
        <li class="nav-item d-inline active">
          <a class="nav-link">Compartir <i class="fas fa-share-alt"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <h2 class="text-center">{{ dataFile.nombre }}</h2>
  <div class="image" *ngIf="typeData == 'img'">
    <img src="{{ apiRoute }}" alt="" />
  </div>

  <div *ngIf="typeData == 'video'">
    <video controls autoplay name="media" class="image">
      <source src="{{ apiRoute }}" type="video/mp4" />
    </video>
  </div>
  <div *ngIf="typeData == 'audio'">
    <video controls autoplay name="media" class="image">
      <source src="{{ apiRoute }}" type="audio/mpeg" />
    </video>
  </div>
</div>

<text-edit></text-edit>
