<i class="fas fa-arrow-left ml-3 mt-3 text-fuschia iconBig" [routerLink]="['/cloudData', fileDir ]"></i>
<div class="container">
    <div class="image">
        <img src="{{url+'getFile/'+ fileDir + '/' + dirParam}}" alt="">
    </div>
    <div *ngFor="let element of responseTextSplitted" class="d-block image">
        <span>
          {{element}}
      </span>
    </div>


    <div *ngIf="isImg == false">
        <video controls autoplay name="media" class="image">
        <source src="{{url+'getFile/'+ fileDir + '/' + dirParam}}" type="video/mp4">
      </video>
    </div>
</div>
