/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Grandstander', cursive;
}

body {
    background-color: #0c0a11 !important;
    color: #f3efed !important ;

}

.title {
    font-family: 'Goldman', cursive;
    font-size: 50px;
}

a:hover {
    text-transform: none;
}

a:link,
a:visited,
a:active a:hover {
    text-decoration: none;
    color: #d6ceca;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
    background-color: #29223b;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
}

.sidebar a:hover {
    color: #fff;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

.image {
    float: left;
    width: 100%;
}

.image img,
.image video,
.image span {
    width: 100%;
}

.iconBig {
    font-size: 20px;
}
